.titulo {border: 3px solid blue; text-align: center;}
.pregunta1 {background-color: grey;}
.desordenada {color: red;}
#importante {color: green;}
.apartado2 {background-color: black; color: white;}
.apartado3 {background-color: aqua;}