*{box-sizing: border-box;}
body{background-color: #90d1ff;
    font-family: Vedana;
}
#contenido{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px 350px;
    background-color: white;
    border: solid 2px blue;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
}
#titulo{
    padding: 10px;
    background-color: #90d1ff;
    text-transform: uppercase;
    color: blue;
    border: solid 2px blue;
    text-align: center;
}
#menu{
    list-style-type: square;
    background-color: #90d1ff;
    text-align: right;
    padding: 20px;
    
}
#menu li{
    list-style-type: none;
    display: inline-block;
}
#menu li a{
    text-decoration: none;
    color: blue;
}
#menu li a:hover{
    list-style-type: none;
    background-color: maroon;
    color: orange;
}
.subtitulo{
    padding: 10px;
    background-color: #90d1ff;
    color: blue;
    border: solid 2px blue;

}
table{
    width: 100%;
    border: solid 4px blue;
    caption-side: bottom;
    border-collapse: collapse;
    color: blue;
}
td,th{
    border: solid 1px black;
    padding: 10px 10px;
    text-align: center;
}
th{
    color: red;
    background-color: #2c4bf8;
    text-align: center;
}

tr:nth-child(even){
    background-color: rgb(83, 251, 195);
}
tr:hover{
    color: orange;
    background-color: black;
    cursor: pointer;
}

#lista :first-child{
    color: blue ;
}
#lista :last-child{
    color: blue;
}
#lista :first-letter{
    text-transform: uppercase;
}
#autor::after{content: " - Fracisco Javier Moreno Garcia";}